html {
  box-sizing: border-box;
}
body {
  background-image: url("img/background.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: fixed;
  color: #fff;
}

.container {
  width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.nav__links {
  margin-left: 280px;
  margin-right: 230px;
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav__list {
  text-decoration: none;
}

.nav__link {
  text-wrap: nowrap;
  text-decoration: none;
  color: #ffffff;
  opacity: 70%;
  font-family: "Nunito Sans", serif;
  font-size: 18px;
}
.nav__link:hover {
  color: #5454d4;
}

.contact__us__link {
  text-wrap: nowrap;
  text-decoration: none;
  color: #ffffff;
  padding: 13px 40px 13px 40px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-family: "Nunito Sans", serif;
  font-size: 16px;
  background-image: linear-gradient(transparent 50%, #5454d4 50%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.contact__us__link:hover {
  background-position: 0 100%;
}
.our__title {
  margin-top: 148px;
  width: 412px;
  height: auto;
  font-family: "Geologica", serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
}
.our__service {
  display: flex;
}
.our__discription {
  font-family: "Nunito Sans", serif;
  font-size: 21px;
  opacity: 70%;
  margin-top: 24px;
  font-weight: 400;
}
.our__text {
  display: flex;
  flex-direction: column;
}
.our__img {
  margin-left: 100px;
}
.our__btn__link {
  width: 204px;
  height: 58px;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-family: "Nunito Sans", serif;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 27px 16px 27px;
  background-color: #5454d4;
  gap: 8px;
  align-items: center;
}
.our__btn {
  margin-top: 50px;
}
.video {
  height: 860px;
  margin-top: 150px;
}
.video__text {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.video__title {
  width: 580px;
  font-family: "Geologica", serif;
  font-size: 60px;
  font-weight: 700;
}
.video__discription {
  width: 588px;
  color: #ffffff;
  font-family: "Nunito Sans", serif;
  font-size: 20px;
  font-weight: 400;
  opacity: 70%;
  line-height: 200%;
}
.video__video {
  margin-top: 50px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.service__title {
  width: 697px;
  font-family: "Geologica", serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.service__table {
  height: 624px;
  margin-top: 98px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 108px;
}
.service__box {
  width: 312px;
  height: 203px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.services__title {
  font-family: "Nunito Sans", serif;
  font-size: 28px;
  font-weight: 400;
}
.service__description {
  font-family: "Nunito Sans", serif;
  font-size: 20px;
  font-weight: 400;
  opacity: 70%;
}
.out__title {
  margin-top: 150px;
  font-family: "Nunito Sans", serif;
  font-size: 58px;
  font-weight: 800;
  text-wrap: nowrap;
}
/* Import Google font - Poppins */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin-top: 100px;
  display: flex;
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #f2f2f2;
}

.wrapper i:first-child {
  left: -22px;
  display: none;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  border-radius: 20px;
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 90.8%;
  }
}
.contact {
  height: 506px;
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  align-items: center;
}
.contact__title {
  width: 826px;
  font-family: "Geologica", serif;
  font-size: 60px;
  font-weight: 700;
}
.contact__btn__link {
  width: 201px;
  height: 60px;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-family: "Nunito Sans", serif;
  font-size: 21px;
  font-weight: 700;
  padding: 16px 27px 16px 27px;
  background-color: #5454d4;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-image: linear-gradient(transparent 50%, #ffffff 50%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.contact__btn__link:hover {
  background-position: 0 100%;
  color: #5454d4;
}
.footer {
  margin-bottom: 100px;
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav__nav {
  display: flex;
}
.footer__nav__links {
  display: flex;
  gap: 40px;
  list-style: none;
}
.footer__nav__list {
  text-decoration: none;
  text-wrap: nowrap;
  text-decoration: none;
  color: #ffffff;
  opacity: 70%;
  font-family: "Nunito Sans", serif;
  font-size: 18px;
}
.footer__copy {
  color: #ffffff;
  opacity: 70%;
  font-family: "Nunito Sans", serif;
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  body {
    background-image: url("img/backgroundmobile.png");
    background-size: 100%;
  }
  .container {
    width: 95%;
  }
  .our__title {
    width: 90%;
    font-size: 42px;
    margin-top: 48px;
    font-weight: 700;
    line-height: 60px;
  }
  .our__text {
    width: 90%;
  }
  .our__discription {
    width: 100%;
  }
  .our__service {
    flex-wrap: wrap;
  }
  .nav__bar {
    display: none;
  }
  .contact__us {
    display: none;
  }
  .our__img {
    margin-left: 0;
    width: 100%;
    margin-top: 55px;
  }
  .video {
    margin-top: 140px;
    width: 100%;
    height: auto;
  }
  .video__video {
    width: 100%;
    margin: 50px auto 0;
  }
  .video__text {
    flex-wrap: wrap;
  }
  .videomp4 {
    width: 100%;
    height: auto;
  }
  .video__title {
    font-size: 45px;
    line-height: 80px;
  }
  .video__discription {
    font-size: 16px;
    margin-top: 30px;
    line-height: 40px;
  }
  .service__title {
    text-wrap: wrap;
    width: 100%;
    text-align: left;
    font-size: 43px;
    line-height: 47px;
  }
  .service__table {
    flex-wrap: wrap;
    justify-content: center;
    height: 2042px;
  }
  .our__portfolio {
    margin-top: 210px;
  }
  .out__title {
    text-wrap: wrap;
  }
  .contact {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 330px;
  }
  .contact__title {
    font-size: 44px;
  }
  .contact__btn {
    margin-top: 50px;
  }
  .footer {
    flex-direction: column;
    gap: 40px;
  }
  .footer__nav__links {
    flex-direction: column;
    align-items: center;
  }
}
